html,body,div,table,ul,li,form,input,label{
	margin:0px;
	padding:0px;
}

body{
	font-family:"Trebuchet MS", Verdana, Arial, Sans-Serif;
	font-size:18px;
	background:White;
	text-align: center;
	min-width: 1200px;
	background-repeat:repeat;
}

div#tlo{
	position:relative;
	z-index:1;
	width:1200px;
	height:0px;
	margin-left: auto;
	margin-right: auto;}

div#strona{
	position:relative;
	z-index:2;
	width:1009px;
	height:797px;
	margin-left: auto;
	margin-right: auto}

div#gora_pasek{
	width: 1009px;
	height: 158px;
	background-image:url(../images/lajalt22_04.png);
}

/*
div#main{
	width: 1005px;
	height: 651px;
}
*/

div#lewy_pasek{
	float: left;
	width: 143px;
	width: 143px;
	height: 639px;
	background-image:url(../images/a_06.png);
}

div#srodek_pasek{
	float: left;
	width: 538px;
	height: 639px;
	background-image:url(../images/a_07.png);
}

div#tekst_field_1{
	float: left;
	width: 531px;
	height: 643px;
	margin: 0px auto;
}

div#tekst_field_2{
	width: 531px;
	height: 643px;
	margin: 0px auto;
}

div#calender_container{
	float: left;
	width: 350px;
	height: 630px;
	margin: 0px auto;
	padding: 100px 0px 0px 0px;
}

div#calendar{
	width: 238px;
	height: 140px;
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
}

div#middlearea{
	width: 350px;
	height: 310px;
	margin: 0px auto;
	padding: 80px 0px 0px 0px;
}

div#middlearea p.links{
	color: blue;
	text-align: left;
	font-size: 14pt;
	padding: 0px 0px 0px 60px;
	margin: 3px 0px 3px 0px;
}

div#middlearea p.links a{
	text-decoration: none;
}

div#middlearea p.more{
	text-align: right;
	font-size: 8pt;
	padding: 0px 120px 5px 0px;
	margin: 3px 0px 3px 0px;
}

div#middlearea p.more a{
	color: green;
	text-decoration: none;
}
div#middlearea p.more a:visited{
	color: green;
	text-decoration: none;
}

div#middlearea p.events{
	text-align:left;
	font-size: 8pt;
	padding-left: 60px;
	margin: 3px 0px 3px 0px;
}

div#middlearea p.ckay{
	text-align:left;
	font-size: 8pt;
	padding-left: 40px;
	margin: 3px 0px 3px 0px;
}

div#middlearea p.kkay{
	color: red;
	text-align:center;
	font-size: 12pt;
	margin: 10px 0px 0px 0px;
}

div#cancelarea{
	width: 200px;
	height: 210px;
	margin: 0px auto;
	padding: 50px 0px 0px 0px;
	font-size:14px;
	text-align: left;
}

div#cancelarea label1{
	padding: 0px 0px 0px 0px;
}

div#cancelarea label{
	float:right;
	padding: 0px 0px 0px 0px;
}

div#colorimage_container{
	float: left;
	width: 181px;
	height: 643px;
	margin: 0px auto;
}

div#colorimage{
	float: left;
	font-size:14px;
	width: 161px;
	height: 643px;
	margin: 0px auto;
	padding: 20px 20px 0px 0px;
}

div#prawy_pasek{
	float: left;
	width: 328px;
	height: 639px;
	background-image:url(../images/a_08.png);
}

div#webcams{
	float: left;
	width: 328px;
	height: 639px;
	margin: 0px auto;
}

div#webcam1{
	width: 300px;
	height: 280px;
	padding: 10px;
	margin: 10px auto;
}

div#webcam2{
	width: 300px;
	height: 280px;
	padding: 10px;
	margin: 10px auto;
}

div#container_login_bar{
	float:right;
	position:relative;
	width:30%;
}

div#container_top{
	position:relative;
	width:100%;
}

div#login_bar{
	float:right;
	margin-right: 20px;
	width:auto;
	font-size:14px;
}
div#login_bar2{
	font-size:14px;
	position:relative;
	float:left;
	right:-110px;
}
div#logout_bar{
	top:-100px;
	float:right;
	margin-right: 20px;
	width:auto;
	font-size:14px;
}

div#login_bar label{
	width: 5em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}
div#login_bar2 label{
	width: 5em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}


div#login_bar .submit input {
	margin-left: 5.5em;
}
div#login_bar2 .submit input {
	margin-left: 5.5em;
}

div#bottom_menu{
	float:left;
	position:relative;
	right:-80px;
	top:120px;
}

div#pass_reg{
	float:right;
	padding-right: 1.5em;
	width:auto;
	font-size:12px;
	font:
}
div#pass_reg2{
	font-size:14px;
	position:relative;
	right:130px;
	top:150px;
}
div#logout{
	top:-100px;
	float:right;
	padding-right: 1.5em;
	width:auto;
	font-size:12px;
}

div#pass_reg a{
	padding-left: 5px;
}
div#pass_reg2 a{
	padding-left: 4px;
}
div#alert p{
	width:auto;
	text-align: center;
	color: red;
	padding: 1.5em;
	font-size:12pt;
}
div#welcome_note p{
	width: auto;
	float: left;
	color: #20BF9F;
	text-align: right;
	font-size: 14pt;
	display: block;
	margin-right: 0.5em;
}

div#register_form{
	width: auto;
	font-size: 12pt;
	display: block
	text-align: center;
	padding: 50px 100px 50px 100px;
}

div#register_form input.toleft {
	padding: 50px 0px 50px 0px;
}

div#editprofile_form{
	width: auto;
	font-size: 12pt;
	display: block
	text-align: center;
	padding: 50px 100px 50px 100px;
}

div#editprofile_form label{
	float: left;
}

div#editprofile_form input{
	float: right;
}

div#bottom_menu a{
	padding-left: 30px;
	/*
	width: 92px;
	height: 47px;
	background-image:url(../images/przycisk_07.png);
	background-repeat: no-repeat;
	*/
}

div#bottom_menu a:link {color:White}      /* unvisited link */
div#bottom_menu a:visited {color:#CFECEC}  /* visited link */
div#pass_reg a:visited {color:#CFECEC}
div#pass_reg a:hover{color:#CFECEC}
div#bottom_menu a:hover {color:#DAF4F0}  /* mouse over link */
div#bottom_menu a:active {color:#CFECEC}

legend{
	font-size:18px;
	text-align:center;
}

/*
div#login-panel{
	float:right;
	position:absolute;
	right:0px;
	width:300px;
    font-size:8pt;
    font-weight:bold;
    color: Black;
	}
div#center_top{
	font-size:16;
	font-color:Black;
	float:center;
}
*/

button.cleft{
	height: 20px;
	width: 36px;
	background-image:url('../images/cleft.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}

button.cdate{
	height: 20px;
	width: 166px;
	color: red;
	background-image:url('../images/cdate.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}
button.cright{
	height: 20px;
	width: 36px;
	background-image:url('../images/cright.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}
button.cdisabled{
	height: 20px;
	width: 34px;
	background-image:url('../images/cdisabled.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}
button.cselected{
	height: 20px;
	width: 34px;
	background-image:url('../images/cselected.png');
	background-repeat:no-repeat;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}
button.ctoday{
	height: 20px;
	width: 34px;
	background-image:url('../images/ctoday.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}
button.cenabled{
	height: 20px;
	width: 34px;
	background-image:url('../images/cenabled.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}
button.mcbuttonena{
	height: 20px;
	width: 118px;
	background-image:url('../images/mcbuttonene.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}

button.mcbuttondisa{
	height: 20px;
	width: 118px;
	background-image:url('../images/mcbuttondisa.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}

td.area_cool {
	/*height: 18px;
	width: 35px;
	background-image:url('../images/area_cool.png');*/
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}

td.areagrean {
	height: 18px;
	width: 70px;
	background-image:url('../images/areagreen.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}

td.areared {
	height: 18px;
	width: 70px;
	background-image:url('../images/areared.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}

td.areabyellow {
	height: 18px;
	width: 70px;
	background-image:url('../images/areayellow.png');
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}

td.area_cool1{
	width: 35px;
	height: 18px;
	background-image:url('../images/area_cool.png');
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	text-align: center;
}

td.area {
	height: 18px;
	width: 70px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-style:none;
}
